{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='confirm-delete'>
  <div class="page-header">
    <h1 class='delete-h1'>Delete Code?</h1>
  </div>
  <h2 class='delete-h2'>Are you sure you want to delete {{ code.name }}?</h2>
  
  <form action="" method="post" class="form" id='delete-form'>
    {% csrf_token %}
    <a 
      href="{% url 'code-detail' code.id %}" 
      class="btn secondary"
      id="cancel-delete"
    >
      Cancel
    </a>
    <button type="submit" class="btn danger">Yes - Delete!</button>
  </form>
</div>

{% endblock %}