.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#card-link {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.card {
  border: 1px solid rgb(20,218,198);
  width: 200px;
  margin: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 32);
  justify-content: space-between;
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-container {
  width: 50px;
  margin-top: 5px;
  margin-left: 145px;
}

.language-image {
  width: 100%;
}

.code-info {
  width: 100%;
  padding: 10px;
  background-color: rgb(18,18,18);
  border: 1px solid black;
}