{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link
    rel="shortcut icon"
    type="image/jpg"
    href="{% static 'images/turtle-side.jpg' %}"
  >
  <title>Code Shelley</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <script defer src="{% static 'js/navbar.js' %}"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
          class="nav-logo"
          src="{% static 'images/turtle-logo.png' %}"
          alt="Code Shelley Logo"
        >
      </a>
    </div>
    <nav>
        <a href="javascript:void(0);" class="hamburger-icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </nav>
  </header>
  {% if user.is_authenticated %}
  <div id="navlinks">
    <a href="/">Home</a>
    <a href="{% url 'code-create' %}">Create Code</a>
    <a href="{% url 'code-index' %}">My Code</a>
    <a href="{% url 'logout' %}">Log out</a>
  </div>
  {% else %}
  <div id="navlinks">
    <a href="{% url 'home' %}">Login</a>
    <a href="{% url 'signup' %}">Sign Up</a>
  </div>
  {% endif %}
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>