{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<section id="login">
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% else %}
<div id='welcome'>
  Welcome User
</div>
{% endif %}

<img class="home-image1" src="{% static 'images/django-code.png' %}" alt="">
<img class="home-image2" src="{% static 'images/controller-code.png' %}" alt="">
<div id='about'>
  <h1 class="page-content">
    "Invention, it must be humbly admitted, does not consist in creating out of the void but out of chaos." -Mary Shelley
  </h1>
</div>


{% endblock %}