{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<section id="login">
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
    <a class='signup-home' href="{% url 'signup' %}">Sign Up</a>
  </form>
  <div class='login-intro'>Code Shelley is an online code bookshelf. </br>See an example of a code index <a href="{% url 'dan-index' %}">here</a>.</div>
</section>
{% else %}
<div id='welcome'>
  <div id='welcome-card'>
    <h1>Welcome <a href="{% url 'dan-index' %}">{{ user }}</a></div> </h1>
    <div class='home-user-stories'>/* AAU, I would like to be able to click 'Create Code' in the navbar, so that I may create code cards. */</div>
    <br>
    <div class='home-user-stories'>/* AAU, I would like to be able to click 'My Code' in the navbar, so that I may view the code cards I have created. */</div>
    <br>
    <div class='home-user-stories'>/* AAU, I would like to be able to click on some link so, that I may view an example code index. I would prefer that you don't use the user's name as the link. That would be a confusing and self-referential joke, Daniel. Users will certainly click their name before reading this user story. */</div>
  </div>
</div>
{% endif %}

<img class="home-image1" src="{% static 'images/django-code.png' %}" alt="">
<img class="home-image2" src="{% static 'images/controller-code.png' %}" alt="">
<div id='about'>
  <h1 class="page-content">
    "Invention, it must be humbly admitted, does not consist in creating out of the void but out of chaos." -Mary Shelley
  </h1>
</div>


{% endblock %}