html {
  box-sizing: border-box
}


*, *::before, *::after { 
  box-sizing: inherit;
}

:root {
  font-size: 62.5%
}

body {
  background-color: rgb(18,18,18);
  color: rgb(255, 255, 255, .9);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: rgb(18,18,18);
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid rgb(20,218,198);;
}

main {
  background-color: rgb(42,42,42);
}

nav {
  display: flex;
}

.nav-logo {
  width: 30px;
  margin-left: 15px;
}

#navlinks {
  color: white;
  font-size: 18px;
  border-bottom: 1px solid rgb(20,218,198);
  background-color: rgb(32,32,32);
  display: none;
  justify-content: space-evenly;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(187,134,252);
}

a > img {
  transform: rotate(90deg);
}

.hamburger-icon {
  background: black;
  display: block;
  position: absolute;
  right: 10px;
  top: 8px;
}

.fa {
  font-size: 24px;
  color: rgb(20,218,198);
}

.hamburger-icon:hover, .fa:hover {
  color: rgb(187,134,252)
}

hr {
  color: rgb(187,134,252);
  color: rgb(20,218,198);
}

.confirm-delete{
  margin: auto;
  width: 300px;
  margin-bottom: 20px;
}

.delete-h1, .delete-h2, #delete-form {
  text-align: center;
}

#cancel-delete{
  border: none;
  background-color: black;
  color: rgb(20,218,198);
  padding: 10px;
  font-size: 11px;
}

#delete-form {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: auto;
}

#cancel-delete:hover {
  padding: 9px;
  border: 1px solid rgb(20,218,198);
}

button {
  border: none;
  background-color: black;
  color: rgb(20,218,198);
  padding: 10px;
}

button:hover {
  padding: 9px;
  border: 1px solid rgb(20,218,198);
}