main {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1250px;
  margin: 0 auto;
}

.home-image1, .home-image2 {
  width: 100%;
  
}

.home-image1 {
  border-left: 1px solid rgb(187,134,252);
  border-bottom: 1px solid rgb(187,134,252);
  border-right: 1px solid rgb(187,134,252);
}

.home-image2 {
  border: 1px solid rgb(187,134,252);
}

#login {
  margin: auto;
  padding: 15px;
  background-color: rgb(18,18,18);
  border: 1px solid rgb(20,218,198);
}

#welcome {
  margin:auto
}

#about {
  margin: auto;
  padding: 50px
}