{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/codes/code-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="code-container">
  <div class="code-img">
  </div>
  <div class="code-details">
    <h1>{{ code.name }}
      {% if code.star %}
      ⭐️
      {% else %}
      ✩
      {% endif %}
    </h1>
    <p>{{ code.description }}</p>
    <p>{{ code.code}}</p>
    <p>{{ code.github}}</p>
    <div class="code-actions">
      <a href="{% url 'code-update' code.id %}" class="btn warn">Edit</a>
      <a href="{% url 'code-delete' code.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}