{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/codes/code-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Code List</h1>
</section>

<section class="card-container">
  {% for code in codes %}
    <div class="card" id="{{ code.language }}">
      <a id="card-link" href="{% url 'code-detail' code.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if code.language == 'H' %}
            <img class='language-image' src="{% static 'images/H.png' %}" alt="">
            {% elif code.language == 'J' %}
            <img class='language-image' src="{% static 'images/J.png' %}" alt="">
            {% elif code.language == 'C' %}
            <img class='language-image' src="{% static 'images/C.png' %}" alt="">
            {% elif code.language == 'P' %}
            <img class='language-image' src="{% static 'images/P.png' %}" alt="">
            {% endif %}
          </div>
          <div class="code-info">
            <h2 class="card-title">{{ code.name }}
              {% if code.star %}
              ⭐️
              {% else %}
              ✩
              {% endif %}
            </h2>
            <div id='code-description'>
              {{ code.description }}
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}