{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/codes/code-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>#----------Code Beneath----------#</h1>
</section>

{% if codes %}
<section class="card-container">
  {% for code in codes %}
    {% if code.star %}
      <div class="card" id="{{ code.language }}">
        <a id="card-link" href="{% url 'code-detail' code.id %}">
          <div class="card-content">
            <div class="card-img-container">
              <img class='language-image' src="{% static 'images/'|add:code.language|add:'.png' %}" alt="">
            </div>
            <div class="code-info">
              <h2 class="card-title">{{ code.name }}
                {% if code.star %}
                ⭐️
                {% else %}
                ✩
                {% endif %}
              </h2>
              <div id='code-description'>
                {{ code.description }}
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
  {% for code in codes %}
    {% if not code.star %}
      <div class="card" id="{{ code.language }}">
        <a id="card-link" href="{% url 'code-detail' code.id %}">
          <div class="card-content">
            <div class="card-img-container">
              <img class='language-image' src="{% static 'images/'|add:code.language|add:'.png' %}" alt="">
            </div>
            <div class="code-info">
              <h2 class="card-title">{{ code.name }}
                {% if code.star %}
                ⭐️
                {% else %}
                ✩
                {% endif %}
              </h2>
              <div id='code-description'>
                {{ code.description }}
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</section>
{% else %}
<section class="no-code">
  <h1>/* AAU, I would like to be able to add code by clicking the "Create Code" button in the navbar, so that I can add code which will then populate the "My Code" Section */</h1>
</section>
{% endif %}
<section class="page-footer">
  <h1>#----------End Code Section----------#</h1>
</section>
{% endblock %}